body {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-align: center;
}

h1{
    font-weight: bolder;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

canvas{
    box-shadow: 2px 5px 40px black;
    border-radius: 30px;
    border: dotted blue;
}